@use '@/sass/variables.scss' as *;
@mixin scrollbar {
  &::-webkit-scrollbar-track {
    height: 3px; // ← 橫向捲軸的高度
    background-color: #f5f5f500;
  }
  &::-webkit-scrollbar {
    height: 5px; // ← 橫向捲軸的高度
    background-color: #f5f5f500;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f500;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $neutral60;
  }
}
