@use '@/sass/variables.scss' as *;
@use 'sass:map';

//  自訂圓角基準值
$border-radius-root: 4px;
@use 'vuetify/settings' with (
  $border-radius-root: $border-radius-root,
  $rounded: (
    0: 0,
    'sm': calc($border-radius-root / 2),
    null: $border-radius-root,
    'def': $border-radius-root,
    'md': $border-radius-root * 1.5,
    'lg': $border-radius-root * 2.25,
    'xl': $border-radius-root * 6,
    'full': 120px,
    'circle': 50%,
  )
);
