@use 'sass:map';
@use '@/sass/common/mixins/text.scss' as *;

// input設定
// input 設定：每個密度對應 height + padding
$densities: (
  default: (
    height: rem(56),
    padding: 16px,
  ),
  comfortable: (
    height: rem(40),
    padding: 4px 12px,
    top: 0px,
  ),
  compact: (
    height: rem(36),
    padding: 2px 8px,
    top: 0px,
  ),
);

// 自動產生 CSS
@each $name, $config in $densities {
  .v-input.v-input--density-#{$name} {
    &.v-select--active-menu,
    &.v-select--selected {
      .v-field__field {
        .v-label {
          top: map-get($config, top);
        }
      }
    }
    .v-field {
      &:not(:has(textarea)) {
        min-height: map-get($config, height);
        height: map-get($config, height);
      }
    }

    .v-field__input:not(textarea) {
      min-height: map-get($config, height);
      padding: map-get($config, padding);
    }
  }
}

// 自訂按鈕 設定及變數
$button-height: (
  x-small: rem(28),
  small: rem(36),
  default: rem(40),
  large: rem(56),
  x-large: rem(60),
);

$button-font-size: (
  x-small: 12px,
  small: 14px,
  default: 16px,
  large: 18px,
  x-large: 20px,
);

$button-padding-ratio: (
  x-small: 1.5,
  small: 2,
  default: 2.5,
  large: 3,
  x-large: 3.5,
);
@each $name, $height in $button-height {
  .v-btn--size-#{$name} {
    --v-btn-height: #{$height};
    --v-btn-size: map.get($button-font-size, $name);
    padding: 0 #{map.get($button-padding-ratio, $name) * 8px};
    font-size: var(--v-btn-size);
  }
}

//chip
$chip-sizes: (
  'x-small': 24px,
  'small': 32px,
  'default': 40px,
  'large': 48px,
  'x-large': 56px,
);

@each $size, $height in $chip-sizes {
  .v-chip.v-chip--density-#{$size} {
    height: $height;
    line-height: $height; // 讓文字垂直置中
  }
}

//avatar
$avatar-sizes: (
  'x-small': 24px,
  'small': 32px,
  'default': 60px,
  'large': 60px,
  'x-large': 64px,
);

@each $size, $dimension in $avatar-sizes {
  .v-avatar.v-avatar--size-#{$size} {
    width: $dimension;
    height: $dimension;
  }
}

// pagination
$pagination-btn-sizes: (
  'x-small': rem(28),
  'small': rem(36),
  'default': rem(40),
  'large': rem(56),
  'x-large': rem(60),
);

@each $size, $height in $pagination-btn-sizes {
  .v-pagination .v-btn.v-btn--size-#{$size} {
    height: $height;
    line-height: $height; // 讓文字垂直置中
    min-width: $height;
  }
}
