@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;
.v-chip {
  &.v-chip--variant-outlined {
    border: 1px solid $neutral40;
  }

  .v-chip__content {
    justify-content: center;
    padding: 0 0.5rem;
    width: 100%;
    i {
      color: $neutral20;
    }
  }
}
