@use '@/sass/variables.scss' as *;

table {
  thead {
    white-space: nowrap;
  }
  .v-data-table__td {
    background: $secondary60;
    color: $neutral100;
  }
}
.v-table {
  .v-table__wrapper {
    > table {
      > thead {
        > tr {
          > th {
            &:not(:last-child) {
              border-right: 1px solid $neutral80;
            }
          }
        }
      }
      > tbody {
        > tr {
          td {
            border-bottom: 1px solid $neutral60;
            &:not(:last-child) {
              border-right: 1px solid $neutral60;
            }
          }
        }
      }
    }
  }
}
