.v-list-item--density-default.v-list-item--one-line {
  min-height: unset;
}
.v-list-item__prepend > .v-badge .v-icon,
.v-list-item__prepend > .v-icon {
  margin-inline-end: 0.25rem;
}
.v-list-item--nav .v-list-item-title {
  line-height: 1.5em;
}
