//body 預設字級
@use '@/sass/variables.scss' as *;
@use 'sass:map';
body {
  font-size: 0.938em; //1em;
  font-weight: normal;
  line-height: 1.45em;
  font-family: $fontFamily;
  -webkit-text-size-adjust: none;
  // --變更為全站
  &.smallSize {
    font-size: calc(0.938em * 0.9); //0.938em;
  }
  &.largeSize {
    font-size: calc(0.938em * 1.1); // 1.125em;
  }
}
$fontSize-config: (
  medium: (
    class: 'mediumSize',
    font-size: 1rem,
  ),
  small: (
    class: 'smallSize',
    font-size: 1rem * 0.875,
  ),
  large: (
    class: 'largeSize',
    font-size: 1rem * 1.125,
  ),
);
@each $name, $value in $fontSize-config {
  $class: map.get($value, class);
  $font-size: map.get($value, font-size);
  .#{$class} {
    .v-chip {
      .v-chip__content {
        font-size: $font-size;
      }
    }
    .v-table {
      thead {
        tr > th {
          font-size: $font-size;
        }
      }
    }
    .v-btn {
      &.v-btn--icon {
        .v-btn__content {
          font-size: 1rem;
        }
      }
      .v-btn__content {
        font-size: $font-size * 0.9;
      }
    }
    table {
      thead > tr th {
        font-size: $font-size;
      }
      tr {
        th,
        td {
          font-size: $font-size;
        }
      }
    }
    p {
      font-size: $font-size;
      line-height: $font-size * 1.5;
    }
    // ul,
    // ol {
    //   li {
    //     font-size: $font-size;
    //     line-height: $font-size * 2.5;
    //   }
    // }
    .infoBtnContainer ul li {
      line-height: 2em;
    }
    .text-h1 {
      font-size: $font-size * 2 !important;
      font-weight: 700;
      line-height: 3rem;
    }
    .text-h2 {
      font-size: $font-size * 1.75 !important;
      line-height: 2.5rem;
      font-weight: 700;
    }
    .text-h3 {
      font-size: $font-size * 1.5 !important;
      line-height: 2rem;
      font-weight: 700;
    }
    .text-h4 {
      font-size: $font-size * 1.25 !important;
      line-height: 1.5rem;
      font-weight: 700;
    }
    .text-h5 {
      font-size: $font-size * 1.125 !important;
      line-height: 1.5rem;
      font-weight: 700;
    }
    .text-h6 {
      font-size: $font-size !important;
      line-height: 1.5rem;
      font-weight: 700;
    }
  }
}
