@use '@/sass/common/mixins/scrollbar.scss' as *;
@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;

html {
  overflow-y: auto;
  @include scrollbar;
}
.container.page {
  [class^='v-col-'],
  [class*=' v-col-'] {
    padding: 10px !important;
  }
  container-type: inline-size;
  .countCardGrp {
    > div {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @container (min-width: 575px) {
      > div {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    @container (min-width: 900px) {
      > div {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  .countCard {
    h4 {
      text-align: center;
      margin: 0 0 0.5rem 0;
      font-size: rem(14);
      color: $neutral10;
    }
    &.v-card {
      padding: 1rem;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: normal;
      }
      .icon {
        color: #fff;
        margin-right: 0.5rem;
      }
      .content {
        background: $gradients_v;
        padding: rem(16) 0;
        .text {
          color: #fff;
          font-size: 2.875em;
          font-weight: 700;
        }
        + .caption {
          color: $neutral20;
          margin: 0.5rem 0 0 0;
          font-size: 0.875em;
          justify-content: end;
        }
      }
      // @media screen and (max-width: 1200px) {
      //   .content {
      //     .text {
      //       font-size: 1.75em;
      //     }
      //   }
      // }
      // @media screen and (max-width: 990px) {
      //   .content {
      //     .text {
      //       font-size: 1.5em;
      //     }
      //   }
      // }
    }
  }
  .itemCard {
    &.v-card {
      padding: rem(24);
      h4 {
        font-weight: 700;
        font-size: 1.75em;
        color: $neutral10;
        margin-bottom: rem(22);
      }
    }
  }
}
