@use '@/sass/common/mixins/text.scss' as *;
@use '@/sass/common/mixins/mediaquery.scss' as *;
@use '@/sass/variables.scss' as *;
@use 'sass:map';
$theme-config: (
  default: (
    class: 'default',
    // primary 設定
    primary: #014d92,
    primary50: #0463b8,
    primary70: #f6fbff,
    //secondary 設定
    secondary: #2d62b3,
    secondary40: #0055a0,
    secondary60: #057bb7,
    secondary80: #80cbd7,
    secondary100: #ebf0f9,
    //gradients
    gradients: linear-gradient(0deg, #0156a2 0%, rgba(28, 147, 208, 1) 50%, rgba(128, 203, 220, 1) 100%),
    gradients_v: linear-gradient(90deg, rgba(1, 86, 162, 1) 0%, rgba(28, 147, 208, 1) 65%, rgba(128, 203, 220, 1) 100%),
    //other
    light: #36e79e,
    thead: #057bb7,
    cardBg: #80cbd733,
    roundedTag: url('@/assets/images/roundedTag.svg') no-repeat bottom center,
  ),
  green: (
    class: 'green',
    // primary 設定
    primary: #1f7848,
    primary50: #44aa55,
    primary70: #e5f7eb,
    //secondary 設定
    secondary: #1ab64c,
    secondary40: #1ab64c,
    secondary60: #33a59c,
    secondary80: #86d9bc,
    secondary100: #f2fbf6,
    //gradients
    gradients: linear-gradient(0deg, #1f7848 0%, #33a59c 50%, #86d9af 100%),
    gradients_v: linear-gradient(90deg, #1f7848 0%, #33a59c 50%, #86d9af 100%),
    //other
    light: #36e79e,
    thead: #33a59c,
    cardBg: #f2fbf6,
    roundedTag: url('@/assets/images/roundedTag_red.svg') no-repeat bottom center,
  ),
  purple: (
    class: 'purple',
    // primary 設定
    primary: #8e0d70,
    primary50: #cf3eab,
    primary70: #f8ebf6,
    //secondary 設定
    secondary: #911a76,
    secondary40: #911a76,
    secondary60: #ce3d86,
    secondary80: #dd6081,
    secondary100: #fff2fa,

    //gradients
    gradients: linear-gradient(0deg, #8e0d70 0%, #ce3d86 50%, #dd6081 100%),
    gradients_v: linear-gradient(90deg, #8e0d70 0%, #ce3d86 50%, #dd6081 100%),
    //other
    light: #36e79e,
    thead: #ce3d86,
    cardBg: #f6e8ed,
    roundedTag: url('@/assets/images/roundedTag_red.svg') no-repeat bottom center,
  ),
  red: (
    class: 'red',
    // primary 設定
    primary: #91404a,
    primary50: #b6636e,
    primary70: #f6e8ed,
    //secondary 設定
    secondary: #ad3b5f,
    secondary40: #ad3b5f,
    secondary60: #c88490,
    secondary80: #e6c9cc,
    secondary100: #ebf0f9,
    //gradients
    gradients: linear-gradient(0deg, #91404a 0%, #c88490 50%, #e6c9cc 100%),
    gradients_v: linear-gradient(90deg, #91404a 0%, #c88490 65%, #e6c9cc 100%),
    //other
    light: #36e79e,
    thead: #c88490,
    cardBg: #f6e8ed,
    roundedTag: url('@/assets/images/roundedTag_red.svg') no-repeat bottom center,
  ),
);

@each $name, $value in $theme-config {
  $class: map.get($value, class);
  $primary: map.get($value, primary);
  $primary50: map.get($value, primary50);
  $primary70: map.get($value, primary70);
  //secondary 設定
  $secondary: map.get($value, secondary);
  $secondary40: map.get($value, secondary40);
  $secondary60: map.get($value, secondary60);
  $secondary80: map.get($value, secondary80);
  $secondary100: map.get($value, secondary100);
  //gradients
  $gradients: map.get($value, gradients);
  $gradients_v: map.get($value, gradients_v);
  //other
  $cardBg: map.get($value, cardBg);
  $roundedTag: map.get($value, roundedTag);
  $thead: map.get($value, thead);

  .v-theme--#{$class} {
    .sideBar {
      > .v-navigation-drawer__content {
        .v-list-group--open {
          > .v-list-item {
            background: $gradients_v;
          }
        }
        .loginInfo {
          .iconBtn {
            background-color: $secondary60;
          }
        }
      }
      &.hidden {
        background: $gradients_v;
        .loginInfo {
          .iconBtn {
            background-color: #fff;
            color: $secondary60;
          }
        }
      }
    }

    .folderMenu {
      &.v-list {
        .v-list-item--active {
          .v-list-item__overlay {
            background: $secondary80;
            opacity: 20%;
          }
        }
      }
    }
    .v-list .v-card {
      &.v-card--variant-flat {
        background: $cardBg;
      }
    }
    .container.page {
      .title {
        &:after {
          background: $secondary60;
        }
      }
      .countCard {
        &.v-card {
          .content {
            background: $gradients_v;
          }
        }
      }
    }

    .v-slider {
      &.v-input--horizontal {
        .v-slider-thumb__label-container {
          .v-slider-thumb__label {
            &::before {
              background: $roundedTag;
            }
          }
        }
      }
    }
    .v-empty-state {
      .v-empty-state__headline {
        .img {
          background-color: $primary;
        }
      }
      .v-empty-state__media {
        i {
          background-color: $primary;
        }
      }
    }
    .tabs {
      .v-tab {
        background: $secondary;
        color: $primary;
        .v-tab__slider {
          background: $primary;
        }
      }
    }
    .textTabs {
      .v-tab__slider {
        background: $primary;
      }
    }
    table {
      .v-data-table__td {
        background: $thead;
      }
    }
    .pagination {
      .v-pagination {
        .v-pagination__item.v-pagination__item--is-active {
          button {
            background: $primary;
          }
        }
      }
    }
    .datePicker,
    .dateRangerPicker,
    .multiDatePicker {
      .dp__today {
        border-color: $primary;
      }
      .dp__action_cancel {
        &:hover {
          border-color: $primary;
        }
      }
      .dp__action_select {
        background: $primary;
      }
    }
  }
}
